/* give your assignment a fun background color */
body {
  background-attachment: fixed;
  background-image: url("https://www.teahub.io/photos/full/208-2084524_awesome-website-background-color-background-editing.jpg");
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px;
}
